<% if logged_in? %>
  <script id="bootstrap-current-user" type="text/javascript">
    window.currentUser = <%= render("api/users/user.json.jbuilder", user: current_user).html_safe %>
  </script>
<% end %>

<script id="bootstrap-images" type="text/javascript">
  window.craft_paper = <%= image_url('craft_paper.jpg') %>
  window.craft_table = <%= image_url('craft_table.jpg') %>
  window.fish_mobiles = <%= image_url('fish_mobiles.jpg') %>
  window.glassblowing = <%= image_url('glassblowing.jpg') %>
  window.craft_leaves = <%= image_url('craft_leaves.jpg') %>
</script>

<main id="root"></main>

<!-- bootstrap images to window and interpolate in data-image-src={window.craft_leaves} -->
